*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fed9b7;
    text-align: center;
}

main h1{
    margin-top: 8px;
}
.container {
    height: 65vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 6vmin;
    color: #b0413e ;
    background-color: #ffffc7;
}
.zero {
    color: #001f54;   /* color for 0 */
    font-weight: bold;
}

.cross {
    color: red;    /* color for X */
    font-weight: bold;
}


#reset-btn{
    padding: 1rem;
    font-size: 1.15rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.15rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    margin-top: 5px;
}
.msg-container{
    margin-top: 15px;
}

#msg{
    color: #013a63;
    font-size: 5vmin;
}
.hide{
    display: none;
}